<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Controle de Estoque Riomar Cordas</title>
	</head>
	<body>
		<h1>Gerenciador de Estoque</h1>

		<form id="form-busca-dados">
			<label for="codigoNumerico"
				>Pesquise no estoque pelo Código Numerico do Material</label
			>
			<input id="codigoNumerico" type="number" min="3" />

			<label for="dataMaterial"
				>Pesquise no estoque pela data de cadastro do Material</label
			>
			<input id="dataMaterial" type="date" />

			<input id="btn-submit" type="submit" />
		</form>

		<div id="erroEstoqueVazio"></div>

		<h2>Tabela de Estoque</h2>
		<table id="lista-de-estoque">
			<tr>
				<th>Código do Material</th>
				<th>Nome do Material</th>
				<th>Quantidade</th>
			</tr>
		</table>

		<script type="module" src="../../js/lista-estoque.js"></script>
		<script type="module" src="../../js/movimenta.js"></script>
		<script type="module" src="../../js/cadastra.js"></script>
	</body>
</html>
